@keyframes fadeinbelow {
    from {  opacity: 0;
        transform: translateY(20vh);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Firefox < 16 */
@-moz-keyframes fadeinbelow {
    from {  opacity: 0;
        transform: translateY(20vh);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinbelow {
    from {  opacity: 0;
        transform: translateY(20vh);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Internet Explorer */
@-ms-keyframes fadeinbelow {
    from {  opacity: 0;
        transform: translateY(20vh);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Opera < 12.1 */
@-o-keyframes fadeinbelow {
    from {  opacity: 0;
        transform: translateY(20vh);}
    to   {  opacity: 1; 
        transform: none;}
}

@keyframes fadeinright {
    from {  opacity: 0;
        transform: translateX(10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Firefox < 16 */
@-moz-keyframes fadeinright {
    from {  opacity: 0;
        transform: translateX(10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinright {
    from {  opacity: 0;
        transform: translateX(10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Internet Explorer */
@-ms-keyframes fadeinright {
    from {  opacity: 0;
        transform: translateX(10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Opera < 12.1 */
@-o-keyframes fadeinright {
    from {  opacity: 0;
        transform: translateX(10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

@keyframes fadeinleft {
    from {  opacity: 0;
        transform: translateX(-10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Firefox < 16 */
@-moz-keyframes fadeinleft {
    from {  opacity: 0;
        transform: translateX(-10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinleft {
    from {  opacity: 0;
        transform: translateX(-10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Internet Explorer */
@-ms-keyframes fadeinleft {
    from {  opacity: 0;
        transform: translateX(-10vw);}
    to   {  opacity: 1; 
        transform: none;}
}

/* Opera < 12.1 */
@-o-keyframes fadeinleft {
    from {  opacity: 0;
        transform: translateX(-10vw);}
    to   {  opacity: 1; 
        transform: none;}
}