 
 /* Main Body Styles */
 
div#hero {
    display: inline-flex;
    justify-content: center;
    background-image: url("../IMAGES/index-heroimage.png");
    height: 100rem;
    width: 100%;
    flex-direction: column;
}

h1 {
    margin: 8rem;
    text-align: center;
}

h3 {
    text-align: center;
    width: 80%;
    height: 20%;
    margin: 8rem auto;
}

section#firstsection {
    display: flex;
    justify-content: space-around;
    margin: 10rem 0rem;
}

section#firstsection div {
    display: inline-flex;
    margin: 0rem 0rem;
    align-items: center;
    width: 750px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

section#firstsection div#applecertified {
    margin: 0rem 0rem;
    flex-wrap: wrap;
    width: 750px;
}

section#firstsection div h2, section#firstsection div h3 {
    margin: 5rem 0rem;
    flex-wrap: wrap;
    max-width: 90%;
    max-height: 100%;
}

section#firstsection div img {
    max-width: 90%;
    max-height: 100%;
    border-radius: 3rem;
}

section#secondsection {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0rem;
}

section#secondsection div {
    display: inline-flex;
    margin: 0rem 0rem;
    align-items: center;
    width: 750px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

section#secondsection div#custom-pc-building {
    margin: 0rem 0rem;
    flex-wrap: wrap;
    width: 750px;
}

section#secondsection div h2, section#secondsection div h3 {
    margin: 5rem 0rem;
    flex-wrap: wrap;
    max-width: 90%;
    max-height: 100%;
}

section#secondsection div img {
    border-radius: 3rem;
    max-width: 90%;
    max-height: 100%;
}

section#thirdsection div#customer-service {
    display: flex;
    width: 80%;
}

section#thirdsection div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
}

section#thirdsection div#customer-service h2 {
    display: flex;
    position: absolute;
    width: 80%;
    color: white;
    text-shadow: 1px 1px 10px black;
    z-index: -1;
    margin: 10rem auto;
    justify-content: center;
}
section#thirdsection div#customer-service div {
    display: flex;
    width: 80%;
    height: 0;
    justify-content: center;
}

section#thirdsection div#customer-service div h3 {
    margin-top: -40rem;
    color: white;
    text-shadow: 1px 1px 10px black;
}

section#thirdsection div img {
    display: flex;
    border-radius: 3rem;
    min-height: 500px;
    z-index: -2;
}