 
 /* Need to add responsive design settings here */
h1 {
    margin: 8rem auto;
    text-align: center;
    width: fit-content;
}

h2 {
    margin: 4rem;
}

p {
    margin: 4rem;
}

h3 {
    text-align: center;
    width: 80%;
    height: 20%;
    margin: 8rem auto;
    height: fit-content;
}

html{
    background-color: rgb(216, 221, 222);
}
 /* Main Body Styles */
 div#hero {
    display: inline-flex;
    justify-content: center;
    background-image: url("../IMAGES/Color-logo-with-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 50rem;
    width: 100%;
    flex-direction: column;
    margin-top: 12rem;
    animation: fadein 3s;
}

div#section1 {
    display: inline-flex;
    justify-content: center;
    background-image: url("../IMAGES/rain-or-shine.jpg");
    background-size: cover;
    height: 80rem;
    width: 100%;
    flex-direction: column;
    margin-top: 3rem;
    box-shadow: 0 0 1rem black;
    animation: fadein 3s;
}

div#section1 h1 {
    text-align: left;
    text-shadow: 0 0 1rem black;
    animation: fadein 3s;
}
div#section2 {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    color: black;
    z-index: -2;
    animation: fadein 3s;
}
h1#section2header {
    font-weight: 1000;
    font-family: Verdana;
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.85);
    border: 0px;
    border-bottom: 2px;
    border-color: hsla(0, 80%, 60%, 1);
    border-style: solid;
    padding: 0;
    text-shadow: 5px 5px 10px white, -5px 5px 10px white, 5px -5px 10px white, -5px -5px 10px white, 1px 1px 40px hsla(0, 80%, 60%, 1);
    width:fit-content;
    margin: 12rem auto;
    animation: fadein 3s;
}

div.section2column {
    display: flex;
    color: hsla(0, 80%, 60%, 1);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 0;
    border-top: 0;
    border-color: black;
    border-style: solid;
    opacity: 0.85;
}

div.section2column h2 {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1), -2px -2px 6px rgba(0, 0, 0, 1), 2px -2px 6px rgba(0, 0, 0, 1), -2px 2px 6px rgba(0, 0, 0, 1);
}

div.section2column p {
    font-size: 4rem;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 1), -1px -1px 6px rgba(0, 0, 0, 1), 1px -1px 6px rgba(0, 0, 0, 1), -1px 1px 6px rgba(0, 0, 0, 1);
}

div.section2column#managed-it {
    background-image: url("../IMAGES/managed-it.jpg");
    background-size: cover;
    background-position-y: 70%;
}

div.section2column#hardware-repair {
    background-image: url("../IMAGES/hardware-repair.jpg");
    background-size: cover;
    background-position-y: 75%;
}

div.section2column#hardware-repair h2 {
    color: hsla(0, 80%, 60%, 1);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1), -3px -3px 6px rgba(0, 0, 0, 1), 3px -3px 6px rgba(0, 0, 0, 1), -3px 3px 6px rgba(0, 0, 0, 1);
}

div.section2column#hardware-repair p {
    color: white;
}

div.section2column#website-design {
    background-image: url("../IMAGES/website-design.jpg");
    background-size: cover;
    background-position-y: 70%;
}

div#section3 form#Appointment {
    display: block;
    font-size: 5rem;
    color: hsla(0, 80%, 60%, 1);
    
}

div#section3 form#Appointment label {
    display: block;
    font-size: 5rem;
    color: black;
}

form#Appointment {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-style: solid;
    padding: 5rem;
    border-radius: 5rem;
    background-color: whitesmoke;
}

form#Appointment label {
    margin: 2.5rem auto;
}

textarea#custIssue {
    display: flex;
    width: 100%;
    height: 50rem;
    margin: auto;
}

input#submit {
    margin-top: 2rem;
}

input#custEmail:focus:invalid, 
input#custPhone:focus:invalid { 
    background: rgb(255, 232, 233)}

input#custEmail:focus:valid, 
input#custPhone:focus:valid {
    background: rgb(220, 255, 220);
}