@charset "utf-8";

/* Universal Settings */
html {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 6px;
    font-weight: bold;
    color: whitesmoke;
    background-color: hsla(0, 0%, 80%, 0.5)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}
a:hover {
    color: gray;
}

    /* Top Nav Bar */
    body header nav {
        display: flex;
        background-color: hsla(0, 80%, 60%, 1);
        width:100%;
        box-shadow: 0px 0px 0.75rem hsla(0, 3%, 17%, 0.45);
        justify-content: center;
        position:fixed;
    }

    body header nav div {
        display: flex;
        justify-content: center;
        width:60%;
    }

    body header nav div ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 2rem 0;
        background-color: hsla(0, 100%, 60%, 0);
        width:100%;
    }

    body header img#logo {
        position:fixed;
        z-index: 1;
    }

    

    