 
 /* Need to add responsive design settings here */
 
 /* Main Body Styles */
 
 h1 {
    color: black;
    text-decoration: underline;
    text-decoration-color: hsla(0, 80%, 60%, 1);
    text-decoration-thickness: 2px;
    text-underline-offset: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    animation: fadeinbelow 3s;
    filter: opacity(1);
 }

 body > p {
    color: black;
    font-size: 3rem;
    width: 80%;
    margin: auto auto;
    animation: fadeinleft 4.5s;
    margin-bottom: 16rem;
    filter: opacity(1);
 }

 footer {
    filter: opacity(1);
 }

 