 
 /* Main Body Styles */
 
div#hero {
    display: inline-flex;
    justify-content: space-evenly;
    background-image: url("../IMAGES/index-heroimage.png");
    height: 100rem;
    width: 100%;
    flex-direction: column;
    margin-top: 7rem;
}

a#bookappointmentbutton{
    animation: fadeinright 3s;
}

div#hero a {
    justify-content: center;
    font-size: 4rem;
    margin: 8rem auto;
    padding: 3rem;
    width: fit-content;
    background-color: hsla(0, 80%, 60%, 1);
    border-radius: 3rem;
}

h1 {
    margin: 8rem;
    text-align: center;
    font-weight: 1000;
    animation: fadeinright 3s;
    text-decoration: underline;
    text-decoration-color: hsla(0, 80%, 60%, 1);
    text-decoration-thickness: 2px;
    text-underline-offset: 1.5rem;
}

h3 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    animation: fadeinright 3s;
}

section#firstsection {
    display: flex;
    justify-content: space-around;
    margin: 10rem 0rem;
    animation: fadeinbelow 3s;
}

section#firstsection div {
    display: inline-flex;
    margin: 0rem 10rem;
    align-items: center;
    width: 750px;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: rgb(216, 221, 222);
    border-radius: 4rem;
}

section#firstsection div#applecertified {
    margin: 0rem 10rem;
    flex-wrap: wrap;
    width: 750px;
    background-color: transparent;
}

section#firstsection div h2, section#firstsection div h3 {
    margin: 0rem 0rem;
    flex-wrap: wrap;
    max-width: 90%;
    max-height: 100%;
}

section#firstsection div img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0 12rem;
}

section#secondsection {
    display: flex;
    justify-content: space-around;
    margin: 10rem 0rem;
    animation: fadeinbelow 3s;
}

section#secondsection div {
    display: inline-flex;
    margin: 0rem 10rem;
    align-items: center;
    width: 750px;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: rgb(216, 221, 222);
    border-radius: 4rem;
}

section#secondsection div#custom-pc-building {
    margin: 0rem 10rem;
    flex-wrap: wrap;
    width: 750px;
    background-color: transparent;
}

section#secondsection div h2, section#secondsection div h3 {
    margin: 0rem 0rem;
    flex-wrap: wrap;
    max-width: 90%;
    max-height: 100%;
}

section#secondsection div img {
    border-radius: 12rem 0;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0rem;

}

section#thirdsection div#customer-service {
    display: flex;
    width: 80%;
}

section#thirdsection div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    animation: fadeinbelow 3s;
}

section#thirdsection div#customer-service h2 {
    display: flex;
    position: absolute;
    width: 80%;
    color: white;
    text-shadow: 1px 1px 10px black;
    z-index: -1;
    margin: 10rem auto;
    justify-content: center;
}
section#thirdsection div#customer-service div {
    display: flex;
    width: 80%;
    height: 0;
    justify-content: center;
}

section#thirdsection div#customer-service div h3 {
    margin-top: -10rem;
    color: white;
    text-shadow: 1px 1px 10px black;
}

section#thirdsection div img {
    display: flex;
    border-radius: 12rem;
    z-index: -2;
    width: 100%;
}

html{
    background-color: whitesmoke;
}

@media only screen and (min-width: 1921px) {
    section#firstsection div#applecertified, section#firstsection div {
        width: 1500px;
    }
    section#secondsection div#custom-pc-building, section#secondsection div {
        width: 1500px;
    }
}
