@charset "utf-8";

/* Universal Settings */
html {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 6px;
    font-weight: bold;
    color: whitesmoke;
    background-color: hsla(0, 0%, 100%, 0.5)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}
a:hover {
    color: gray;
}

    /* Top Nav Bar */
    body header nav {
        display: flex;
        background-color: hsla(0, 80%, 60%, 1);
        width:100%;
        box-shadow: 0px 0px 0.75rem hsla(0, 3%, 17%, 0.45);
        justify-content: center;
        position:fixed;
        top: 0;
        z-index: 2;
    }

    body header nav div {
        display: flex;
        justify-content: center;
        width:80%;
    }

    body header nav div ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 2rem 0;
        background-color: hsla(0, 100%, 60%, 0);
        width:100%;
    }

    body header img#logo {
        position:fixed;
        z-index: 3;
        top: 0;
    }

    section.blacktext {
        color: black;
    }

    h1 {
        font-size: 12rem;
        height: fit-content;
    }

    h2 {
        font-size: 8rem;
        height: fit-content;
    }

    h3 {
        font-size: 4rem;
        height: fit-content;
    }

    footer {
        background-color: hsla(0, 80%, 60%, 1);
        font-size: 3rem;
        margin-top: 5rem;
        color: gray;
        padding: 2rem;
        text-align: center;
    }
    footer a {
        font-size: 3rem;
        color: gray;
    }
    footer a:hover {
        color: white;
    }

    @media only screen and (min-width: 1921px){
        html {
            font-size: 10px;
        }

        img#logo {
            width: 80px;
            height: 80px;
        }
     }

    @media only screen and (min-width: 1441px) and (max-width: 1920px){
        html {
            font-size: 8px;
        }

        img#logo {
            width: 63px;
            height: 63px;
        }
     }

     @media only screen and (min-width: 1025px) and (max-width: 1440px) {
        html {
            font-size: 7px;
        }
        img#logo {
            width: 55px;
            height: 55px;
        }
        body header nav div {
            width: 80%;
        }
     }

     @media only screen and (min-width: 768px) and (max-width: 1024px) {
        html {
            font-size: 6px
        }
        img#logo {
            width: 47px;
            height: 47px;
        }
        body header nav div {
            width: 80%;
        }
     }

     @media only screen and (min-width: 420px) and (max-width: 767px) {
        html {
            font-size: 4px
        }
        img#logo {
            width: 30px;
            height: 30px;
        }
        body header nav div {
            width: 90%;
        }
     }
     @media only screen and (min-width: 0px) and (max-width: 419px) {
        html {
            font-size: 3px
        }
        img#logo {
            width: 15px;
            height: 15px;
        }
        body header nav div {
            width: 80%;
        }
     }