 
 /* Need to add responsive design settings here */
 
 /* Main Body Styles */
 
body {
    color: black;
    font-size: 3rem;
}

 h1 {
    border-bottom: solid hsla(0, 80%, 60%, 1);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
 }

 div#countdown {
    font-size: 5rem;
    text-align: center;
 }

 div#countdowntimer {
    color: hsla(0, 80%, 60%, 1);
    font-size: 8rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
 }

 .align {
    margin-top: 5rem;
    font-size: 6rem;
 }

div.joblistings {
    display: inline-flex;
    justify-content: space-around;
}

div.block {
    width: 45%;
}

 div.block p {
    margin: 0 auto;
    width: 70%;
    text-align: center;
 }

 
